.paginationBody {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  padding-bottom: 22px;
  background-color: white;
  margin-bottom: 22px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  width: 23px;
  aspect-ratio: 1;
  /* background-color: pink; */
  border: 1px solid gray;
  border-radius: 50px;
  cursor: pointer;
}

.pagination {
  display: flex;
  gap: 2px;
}

.currentPage {
  font-weight: bold;
}

button:disabled {
  cursor: default;
}
