.headerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: pink; */
  padding-block: 25px;
  gap: 15px;
}

.title {
  text-decoration: overline;
}

.time {
  font-weight: bold;
}
