.imageBody {
  width: 100%;
  height: auto;
  background-color: darkgray;
  padding-top: 80%;
  position: relative;
  left: -3px;
  border: 2px solid gray;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
